name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

defaults:
  run:
    working-directory: ./v-help-be


jobs:

  build:

    runs-on: ubuntu-latest


    steps:
    -
     name: Setup Docker Buildx
     uses: docker/setup-buildx-action@v2

    -
     name: Login to Docker Hub
     uses: docker/login-action@v2
     with:
       username: ${{secrets.DOCKER_USER}}
       password: ${{secrets.DOCKER_TOKEN}}

    -
      name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: ./v-help-be
        file: ./v-help-be/Dockerfile
        push: true
        tags: z80lives/vhelp-be:latest


